<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
<link rel="stylesheet" href="{% static 'music/css/style.css' %}">
<link rel="stylesheet" href="{% static 'music/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block head %}
  <title>Base</title>
  {% endblock %}
</head>
<body class="body">
    {% block navbar %}
   <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'music:home' %}">Vibers</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{%  url 'music:home' %}">
                               <span class="fa fa-music" aria-hidden="true" area-hidden="true"></span>&nbsp; Albums
                            </a>
                        </li>
                        <li class="">
                            <a href="{%  url 'music:home' %}">
                                <span class="fa fa-youtube-play" aria-hidden="true" area-hidden="true"></span>&nbsp; Songs
                            </a>
                        </li>
                       <form action="#" class="navbar-form navbar-left" role="search" method="get">
                           <div class="form-group">
                               <input type="text" class="form-control" name="q" value="">
                           </div>
                           <button type="button" class="btn btn-default">Search</button>
                       </form>
                       <ul class="nav navbar-nav navbar-right">
                           <li>
                               <a href="{% url 'music:album-add' %}">
                                   <span class="fa fa-plus" aria-hidden="true"></span>&nbsp;Add Album
                               </a>
                           </li>
                       </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                <span class="class="fa fa-sign-out" aria-hidden="true""></span>&nbsp;LogOut
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
   </div>
    {% endblock %}
    {% block body %}   
    <h1>Base</h1>
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
